@font-face {
    font-family: rickAndMortyFont;
    src: url('./assets/get_schwifty.ttf');
}

body {
    align-items: center;
    background-color: #ffffff;
    justify-content: center;
    margin: 0;
    text-align: center;
    background-image: linear-gradient(
        180deg,
        #000000 15%,
        #272727 50%,
        #444444 30%,
        #444444 30%,
        #272727 50%,
        #000000 85%
    );
    background-attachment:scroll;
}

main {
    align-items: center;
    display: flex;
    flex: 1 1 300px;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;

}

h1 {
    color: #087937;
    font-family: 'rickAndMortyFont';
    font-size: 90px;
    padding: 50px;
    margin-top: 10px;
}

h2 {
    color: #ffffff;
    font-family: 'Pangolin', cursive;
    font-size: 40px;
    letter-spacing: 12px;
}

section {
    align-items: center;
    background: rgba(228, 226, 226, 0.493);
    border-radius: 10px;
    box-shadow: 0 8px 32px 0 #087937;
    display: flex;
    flex-direction: column;
    height: 385px;
    margin: 40px 60px;
    padding: 25px;
    width: 360px;
}

main > section img {
    border-radius: 7px;
    box-shadow: 2px 2px 2px 2px #4d4e4ebd;
    height: 300px;
    margin-top: 24px;
    width: 300px;

}

main > section p {
    font-family: 'Pangolin', cursive;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    letter-spacing: 5px;
    margin: 20px;
}

a img {
    margin-top: 120px;
    width: 60px;
    height: 40px;
}

p {
    color: #ffffff;
    font-family: 'rickAndMortyFont';
    font-size: 12px;
    margin-top: 10px;
}